[Unit]
Description=systemd wrapper for MQMitsi Python script
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/MQMitsi/mqmitsi.py --mqtt-host $mqtthost --mqtt-prefix $mqttprefix

[Install]
WantedBy=multi-user.target
